@model _231103083_sevval_karagol.DAL.MisyonVizyon

@{
    ViewData["Title"] = "MisyonVizyon/Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oluştur</h1>

<h4>MisyonVizyon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Misyon" class="control-label"></label>
                <input asp-for="Misyon" class="form-control" />
                <span asp-validation-for="Misyon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vizyon" class="control-label"></label>
                <input asp-for="Vizyon" class="form-control" />
                <span asp-validation-for="Vizyon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
