@model _231103083_sevval_karagol.DAL.MisyonVizyon

@{
    ViewData["Title"] = "MisyonVizyon/Detaylar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>MisyonVizyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Misyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Misyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vizyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vizyon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
